.vs/
.vscode/
x64/
Debug/
Release/
bin/
obj/
Save/
*.user
*.suo
*.VC.db
*.sqlite
*.opendb
*.ipch
*.obj
*.lib
*.exp
*.ilk
*.pdb
*.idb
*.tlog
*.lastbuildstate
*.log
*.tmp
*.cache
*.aps
*.ncb
*.opensdf
*.db-shm
*.db-wal
