//------------------------//------------------------
// Contents(????) resource.rc??????
//------------------------//------------------------
// user(???) Keishi Teramoto
// Created date(???) 2026 / 03 / 16
// last updated (?????) 2026 / 03 / 17
//------------------------//------------------------
IDI_ICON               ICON         "directx.ico"
